.chat {
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.3);
  background: rgba(252, 252, 252, 0.4);
  height: 320px;
  box-shadow: 3px 3px 10px rgb(37 37 37 / 20%);
}

.chat__title h3 {
  padding-left: 10px;
  margin: 15px 0;
  color: #333;
}

.entity__wrap {
  border-top: 1px solid rgba(222, 222, 222, 1);
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
  height: 269px;
  background: #fcfcfc;
}
.entity__wrap::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}

.entity__wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #464a4e;
}

.entity__wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.entity {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;
  background: #fcfcfc;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(222, 222, 222, 0.3);
}

.entity:hover {
  background: rgba(222, 222, 222, 0.5);
}

.entity img{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid rgba(222, 222, 222, 0.3);
}

.entity__name {
  font-size: 14px;
  margin-left: 7px;
}

.entity span {
  font-size: 12px;
  color: red;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: -5px;
}