.chat {
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.3);
  background: rgba(252, 252, 252, 0.4);
  height: 300px;
  box-shadow: 3px 3px 10px rgb(37 37 37 / 20%);
  margin-bottom: 25px;
}

.chat__title h3 {
  padding-left: 10px;
  font-size: 16px;
  margin: 12px 0;
  color: #000bad;
}

.entity__wrap {
  border-top: 1px solid rgba(19, 105, 131, 0.5);
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
  height: 249px;
  background: #fcfcfc;
}
.entity__wrap::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}

.entity__wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #464a4e;
}

.entity__wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.entity_chat a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #333;
  background: #fcfcfc;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(222, 222, 222, 0.9);
}

.entity_chat:hover{
  background: rgba(222, 222, 222, 0.5);
}

.entity:hover {
  background: rgba(222, 222, 222, 0.5);
}

.entity_chat img{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid rgba(222, 222, 222, 0.3);
}

.entity__name {
  font-size: 14px;
  margin-left: 7px;
  max-width: 170px;
}

.entity_chat a span {
  font-size: 12px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: -5px;
  justify-self: end;
}

.entity_nothing {
  text-align: center;
}

.count {
  margin: 5px;
  margin-bottom: -2px;
  background: #2d702e;
  color: rgb(255, 255, 255);
  padding: 3px 7px;
  border-radius: 100%;
}

.online_icon::after {
  display: block;
  width: 12px;
  height: 12px;
  background: #08b80a;
  border: 1px solid #fcfcfc;
  border-radius: 50%;
  position: relative;
  top: -13px;
  left: 35px;
  content: "";
  margin-bottom: -10px;
}