@font-face {
  font-display: fallback;
  font-family: "robotoregular";
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/Roboto-Regular.woff') format('woff');
}
a{text-decoration:none; color: blue;}
pre {line-height: normal;font-family: "robotoregular", "Arial", sans-serif;}
button {outline: none; cursor: pointer;}
body {height:100%;font-family: "robotoregular", "Arial", sans-serif;background: rgba(222, 222, 222, 0.2);}
