@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Roboto-Regular.ttf") format("truetype");
}
a{text-decoration:none;}
pre {line-height: normal;font-family: "Roboto", "Arial", sans-serif;}
button {outline: none; cursor: pointer;}
body {height:100%;font-family: "Roboto", "Arial", sans-serif;background: rgba(222, 222, 222, 0.2);}
