.view {
  width: 665px;
  margin-right: 15px;
  margin-bottom: 15px;
  background: rgba(252, 252, 252, 0.4);
  border: 2px solid rgba(222, 222, 222, 1);
  box-shadow: 3px 3px 10px rgb(37 37 37 / 20%);
}

.view h2{
  text-decoration: underline;
  font-size: 24px;
  margin-left: 10px;
  color: rgb(24, 99, 129);
}

.entity_wrap {
  display: flex;
  flex-direction: column;
}

.entity {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(19, 105, 131, 0.3);
  border-radius: 5px;
  margin: 7px 10px;
  padding-bottom: 5px;
  transition: all 0.2s ease-in;
  background: linear-gradient(360deg, rgba(242, 242, 242, 0.3), rgba(242, 242, 242, 0.1));
}
.entity a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entity img {
  margin: 5px 0 0 5px;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #333;
}

.entity_name {
  margin: 0;
  color: #333;
  font-weight: 600;
  margin-left: 10px;
}
.entity_name:hover {
  color: #8a1057 !important;
}
.entity:hover {
  box-shadow: 1px 5px 5px rgba(51, 51, 51, 0.1);
}

.entity button {
  background: rgba(222, 222, 222, 0.6);
  border: 1px solid #000bad;
  outline: none;
  font-size: 14px;
  color: #000bad;
  font-weight: 600;
  padding: 4px 10px;
  transition: all 0.1s ease-in;
  border-radius: 5px;
  margin-left: 10px;
}

.entity_nothing {
  font-style: italic;
  margin-left: 15px;
}