.post {
  padding: 10px;
  background-color: #fcfcfc;
  border: 2px solid rgba(222, 222, 222, 1);
  box-shadow: 3px 3px 10px rgb(37 37 37 / 20%);
}

.post+.post {
  margin-top: 15px;
}

.post_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.post_header img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #333;
  cursor: pointer;
}

.post_header button {
  background: rgba(222, 222, 222, 0.6);
  border: 1px solid #000bad;
  outline: none;
  font-size: 14px;
  color: #000bad;
  font-weight: 600;
  padding: 4px 10px;
  transition: all 0.1s ease-in;
  border-radius: 5px;
  margin-left: 10px;
}
.post_header button:hover {
  background: transparent;
}


.post_name {
  margin: 0;
  color: #333;
  font-weight: 600;
}

.post_images_wrap img{
  cursor: pointer;
}

.post_date {
  color: rgb(15, 20, 25);
  font-size: 12px;
  margin: 7px 0 0 7px;
}

.post_description {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.post_text {
  color: #333;
  white-space: pre-wrap;
}

.post_icons_wrap {
  margin: 0px 0 10px 10px;
  display: flex;
  flex-direction: row;
  color: rgba(15, 20, 25, 0.5);
  
}
.icons[disabled] {
  cursor: default;
}
.icons[disabled] svg {
  fill: rgba(122, 132, 122, 0.5);
}

.icons[disabled] span {
  color: rgba(122, 132, 122, 0.5);
}

.post_images_wrap {
  margin-bottom: 20px;
}



.icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icons svg{
  height: 20px; 
  width: 20px;
  fill: rgba(15, 20, 25, 0.5);
}

.icons span{
  margin-left: 5px;
}

.icons+.icons {
  margin-left: 25px;
}

.heart_active svg {
  fill: url(#MyGradient);
}

.heart_active span {
  color: #F40;
}