.widgets {
  width: 280px;
  height: 920px;
  overflow:  auto;
}
.widgets::-webkit-scrollbar {
  width: 0px;
}

.widgets:last-child {
  margin-bottom: 20px;
}

.group, .users {
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.3);
  background: rgba(252, 252, 252, 0.4);
  height: 300px;
  box-shadow: 3px 3px 10px rgb(37 37 37 / 20%);
  margin-bottom: 25px;
}

.title h3 {
  padding-left: 10px;
  font-size: 16px;
  margin: 12px 0;
  color: #333;
}

.entity__wrap {
  border-top: 1px solid rgba(222, 222, 222, 1);
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
  background: #fcfcfc;
}

.chat {
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.3);
  background: rgba(252, 252, 252, 0.4);
  height: 320px;
  box-shadow: 3px 3px 10px rgb(37 37 37 / 20%);
}

.chat__title h3 {
  padding-left: 10px;
  margin: 15px 0;
  color: #333;
}

.entity__wrap {
  border-top: 1px solid rgba(19, 105, 131, 0.5);
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
  height: 242px !important;
  background: #fcfcfc;
}
.entity__wrap::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}

.entity__wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #464a4e;
}

.entity__wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.entity_nothing {
  text-align: center;
}

.description {
  font-size: 14px;
  margin: -5px 0 5px 10px;
  color: #494949;
}
