.input_message {
  border: 1px solid rgba(222, 222, 222, 0.5);
  padding: 10px;
  background: #f9f9fd;
  display: block;
  width: calc(100% - 20px);
  resize: none;
  font-size: 14px;
  overflow-y: auto;
  outline: none;
  border-radius: 8px;
}

.input_message[dataplaceholder]:empty:before{
  content: attr(dataplaceholder);
  color: #9aa2ab;
  display: block;
  font-size: 14px;
  margin-left: 1px;
  pointer-events: none;
}
.input_message::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}

.input_message::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #464a4e;
}

.input_message::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}