
.group__wrapper {
  display: flex;
  border-bottom: 1px solid rgba(222, 222, 222, 1);
  margin-left: 10px;
}

.additional_info {
  display: flex;
  margin-left: 15px;
}

.info_photos_desc {
  color: #444;
  font-size: 14px;
  text-align: center;
}

.info_button_photos {
  margin-top: -17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(15, 20, 25);
  text-decoration: none;
  background: transparent;
  border: none;
}
.info_button_photos p{
  margin-left: 10px;
}

.info_button_photos svg{ 
    width: 35px;
    height: 35px;
    fill: rgb(15, 20, 25);
}

.info_button_photos[disabled] svg{
  fill: rgb(133, 133, 133);
}
.info_button_photos[disabled]{
  cursor: default;
}


.info__user {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 20px;
  width: 100%;
}


.info__user h3 {
  margin: 10px 5px;
  text-align: center;
  color: #333;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.button_wrap {
  margin: 0 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.button_wrap button {
  background: rgba(222, 222, 222, 0.3);
  border: 1px solid rgb(52, 43, 173);
  outline: none;
  font-size: 14px;
  color: rgb(52, 43, 173);
  font-weight: 600;
  padding: 5px 0;
  transition: all 0.1s ease-in;
  border-radius: 5px;
  font-style: italic;
}

.button_wrap button:last-child {
  margin: 10px 0;
  padding: 5px 0;
}
.button_wrap button:hover {
  background: transparent;
}

.button_add_friend:hover {  
  color: #09630b !important;
  background: rgba(9, 99, 11, 0.1) !important;
  border: 1px solid #09630b !important;
}

.button_remove_friend:hover {  
  color: #b43046 !important;
  border: 1px solid #811124 !important;
  background: rgba(180, 48, 70, 0.1) !important;
}
.button_remove_friend, .button_add_friend{
  background: rgba(180, 180, 180, 0.1) !important;
}

.button_connect button {
  margin: 0 !important;
  width: 100%;
  padding: 3px 0;
}

.button_wrap button:active {
  background: rgba(232, 232, 232, 0.2);
}

.button_add[disabled] {
  background: rgba(212, 212, 212, 1) !important;
  cursor: default;
}

.no_found {
  width: 620px;
  text-align: center;
}
.no_button {
  margin-top: 15px;
}