.autorize {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient( 90deg , rgb(34, 38, 49), rgba(222, 222, 222, 0.2));
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.autorize_header {
  background: #222;
  display: flex;
}
.logo_wrap {
  margin-top: 20px;
  margin-left: 60px;
}
.logo {
  font-weight: 800;
  line-height: 32px;
  font-size: 36px;
  color: #08b80a;
  margin: 0;
  
}
.description {
  margin-top: 5px;
  margin-left: 5px;
  color: #fcfcfc;
}
.welcome {
  font-size: 18px;
  text-transform: uppercase;
  color: #fcfcfc;
  align-self: center;
  margin: 0 auto;
}

.content {
  width: calc(100% - 30px);
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.about {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  color: #fcfcfc;
}
.about img{
  width: 450px;
}
.about p {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 18px;
  background: #333;
  border-radius: 5px;
}

@media screen and (max-width: 760px) {
  .about, .welcome  {
    display: none;
  }
  .content {   
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 960px) {
  .about img{
    width: 350px;
  }
}
