.autorize {
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.3);
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 3px 3px 10px rgb(37 37 37 / 20%);
  display: flex;
  justify-content: center;
}

.autorize a {
  border: 1px solid rgba(15, 20, 25, 0.05);
  background: rgba(222, 222, 222, 0.2);
  border-radius: 5px;
  font-size: 14px;
  color: #000bad;
  padding: 2px 10px;
  text-decoration: none;
  margin: 10px 0;
}

.autorize a:hover {
  background: rgba(222, 222, 222, 0.9);
}